<style >
/**************
    Fonts
***************/

@font-face {
    font-family: 'isans';
    src: url('../font/iransans/isans_600.eot');
    src: url('../font/iransans/isans_600.eot?#iefix') format('eot'),
    url('../font/iransans/isans_600.woff2') format('woff2'),
    url('../font/iransans/isans_600.woff') format('woff'),
    url('../font/iransans/isans_600.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'isans';
    src: url('../font/iransans/isans_500.eot');
    src: url('../font/iransans/isans_500.eot?#iefix') format('eot'),
    url('../font/iransans/isans_500.woff2') format('woff2'),
    url('../font/iransans/isans_500.woff') format('woff'),
    url('../font/iransans/isans_500.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'isans';
    src: url('../font/iransans/isans_400.eot');
    src: url('../font/iransans/isans_400.eot?#iefix') format('eot'),
    url('../font/iransans/isans_400.woff2') format('woff2'),
    url('../font/iransans/isans_400.woff') format('woff'),
    url('../font/iransans/isans_400.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'isans';
    src: url('../font/iransans/isans_300.eot');
    src: url('../font/iransans/isans_300.eot?#iefix') format('eot'),
    url('../font/iransans/isans_300.woff2') format('woff2'),
    url('../font/iransans/isans_300.woff') format('woff'),
    url('../font/iransans/isans_300.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'isans';
    src: url('../font/iransans/isans_200.eot');
    src: url('../font/iransans/isans_200.eot?#iefix') format('eot'),
    url('../font/iransans/isans_200.woff2') format('woff2'),
    url('../font/iransans/isans_200.woff') format('woff'),
    url('../font/iransans/isans_200.ttf') format('ttf');
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6,p,span,strong,footer,.memo,td,div,a,.button {
    font-family: isans !important;
}
/**************
    Fonts
***************/
/* Style the tab */

.title {
    direction: rtl;
    text-align: center;
    color: black;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 35px;
    line-height: 1.6;
}

.memo {
    direction: rtl;
    text-align: center;
    background-color: black;
    background-color: hsla(9, 100%, 64%, 0.2);
    border: 5px;
    color: black;
    border-color: #ff6347;
    left: 0;
    top: 0;
    width: 100%;
    position:sticky;
    margin-top: 1;
    line-height: 1.9
}

.footer {
    direction: rtl;
    text-align: center;
    background-color: black;
    background-color: hsla(9, 100%, 64%, 0.2);
    border: 5px;
    color: black;
    border-color: #ff6347;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

h1 {
    color: black;
    margin-left: 40px;
}

body {
    /*background-image: url('./media/image/background.png');*/
    /*background-color: lightblue;*?
}

    .main-girid
    {
        display:  table;
        width:100%;
        background-color:#eee;
        border:0px solid  #666666;
        border-spacing:0px;
        /*cellspacing:poor IE support for  this*/
        /* border-collapse:separate;*/
    }
    .divRow
    {
       display:table-row;
       width:auto;
       margin-bottom:
    }

   .divCell
    {
        float:right;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
       /* background-color:#ccc;*/
    }
   .divCell-full
    {
        float:right;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
       /* background-color:#ccc;*/
    }
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
}

.top-logo{
    width: auto;
    height: auto;
    padding-right:15;
    padding-top: 15

}
</style >
